.menubar_pageList_list {
  width: 100%;
  transition: all 0.3s;
}
.menubar_pageList_list_info {
  width: 100%;
  height: 28px;
  /* padding-left: 16px; */
  padding-right: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
  cursor: pointer;
}

.menubar_pageList_list_info_checkbox {
  display: none;
}

.menubar_pageList_list_info_checkbox:checked
  + .menubar_pageList_list_info_label {
  transform: rotate(90deg);
}

.menubar_pageList_list_info_label,
.menubar_pageList_list_info_insertButton,
.menubar_pageList_list_info_deleteButton {
  background-color: var(--color-semi-white);
  border-radius: 4px;
  width: 20px;
  height: 20px;

  font-size: 24px;
  color: var(--color-font);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
  cursor: pointer;
}
.menubar_pageList_list_info_label {
  font-size: 28px;
  padding-top: 2px;
}

.menubar_pageList_list_info_title {
  height: 24px;
  width: calc(100% - 60px);
  padding: 0 8px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: var(--color-font);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: scroll;
}

.menubar_pageList_list_info:hover {
  background-color: var(--color-grey);
}

.menubar_pageList_list_info_insertButton,
.menubar_pageList_list_info_deleteButton {
  opacity: 0;
}

.menubar_pageList_list_info:hover > .menubar_pageList_list_info_insertButton,
.menubar_pageList_list_info:hover > .menubar_pageList_list_info_deleteButton,
.menubar_pageList_list_info:hover > .menubar_pageList_list_info_label {
  opacity: 1;
  background-color: var(--color-grey);
}

.menubar_pageList_list_info:hover
  > .menubar_pageList_list_info_insertButton:hover,
.menubar_pageList_list_info:hover
  > .menubar_pageList_list_info_deleteButton:hover,
.menubar_pageList_list_info:hover > .menubar_pageList_list_info_label:hover {
  background-color: var(--color-dark-grey);
}

.menubar_pageList_list_childrenList {
  width: fit-content;
  height: fit-content;
  /* padding-left: 16px; */

  flex-direction: column;
  display: none;
  transition: all 0.3s;
  visibility: hidden;
}

.toggleChecked {
  visibility: visible;
  display: flex;
  width: 100%;
}
