.menubar {
  width: 25%;
  height: 100%;
  min-width: 26rem;
  padding: 0.4rem;
  max-width: 36rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);

  border-right: 1px var(--color-deep-grey) solid;
  background-color: var(--color-semi-white);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.menubar_pageList {
  width: 100%;
  overflow: scroll;
  transition: all 0.3s;
}

.menubar_rootInsertButton {
  width: 100%;
  height: 2.4rem;
  padding: 0 1.7rem;
  margin: 2rem 0;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;

  color: var(--color-font);
  cursor: pointer;
}

.menubar_rootInsertButton:hover {
  background-color: var(--color-grey);
}

.menubar_rootInsertButton_buttonTitle {
  font-size: 1.4rem;
  font-weight: 600;
}

.menubar_rootInsertButton_buttonEmoji {
  margin-right: 1.2rem;
  font-size: 2.4rem;
}

.menubar_homeButton {
  width: 100%;
  padding: 0.4rem 1.4rem;
  margin-top: 2rem;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  color: var(--color-font);
  border-radius: 0.4rem;
  cursor: pointer;
}

.menubar_homeButton_img {
  width: 2.4rem;
  height: 2.4rem;
  padding-right: 0.7rem;
}

.menubar_homeButton_text {
  font-size: 1.6rem;
  font-weight: 700;
}

.menubar_homeButton:hover {
  background-color: var(--color-grey);
}
