.pageViewer_indexPage {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: var(--color-font);

  overflow: hidden;
}

.titleBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBox_title {
  width: 100%;
  height: 100%;
  max-width: 72rem;
  max-height: 12rem;
  min-width: 32rem;
  min-height: 6rem;
  font-size: 60%;
  text-wrap: nowrap;
  margin-bottom: 4rem;
}

.titleBox_img {
  width: 100%;
  height: 100%;
  max-width: 28rem;
  max-height: 28rem;
}

.subTitle {
  align-self: flex-end;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
}
