/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
/* reset CSS */
.documentListDiv {
  height: 100%;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(232, 246, 254, 0.751);
}
.rootDocument {
  padding: 20px;
}
.subDocument li div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.rootDocument_data {
  padding: 5px;
}
.rootDocument_data div {
  display: flex;
  justify-content: space-between;
}
.rootDocumentCreateButton {
  display: none;
  width: 20px;
}
.rootDocumentCreateDiv {
  padding: 20px;
}

/*에디터 부분 스타일링 해야됨*/
.documentEditDiv {
  width: 100%;
}

.rootDocumentCreateButton:hover {
  background-color: rgba(148, 162, 170, 0.722);
}
.rootDocumentCreateDiv:hover {
  cursor: pointer;
  background-color: rgba(203, 220, 230, 0.722);
}

.rootDocument li:hover {
  cursor: pointer;
  background-color: rgba(203, 220, 230, 0.722);
}
.rootDocument li:hover > div .rootDocumentCreateButton {
  display: block;
}

.subDocument li div:hover {
  cursor: pointer;
  background-color: rgba(203, 220, 230, 0.722);
}
