/* reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
button {
  background: none;
  border: 0;
  cursor: pointer;
}
/* reset CSS */
.documentListDiv {
  height: 100%;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(23, 35, 52);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}
.rootDocument {
  padding: 0px;
}
.subDocument li div {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.rootDocument_data {
  padding: 5px;
}
.rootDocument_dataRoot {
  padding: 5px;
}
.documentHeader {
  display: flex;
}
.documentHeader div {
  display: block;
  width: 250px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: nowrap;
}
.rootDocument_data div {
}
.documentCreateButton {
  display: none;
  font-size: 25px;
  text-align: center;
  width: 20px;
  border-radius: 5px;
}
.documentDeleteButton {
  display: none;
  width: 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}

.rootDocumentCreateDiv {
  padding: 20px;
}

.documentToggleButton {
  font-size: 20px;
  text-align: center;
  width: 20px;
  border-radius: 5px;
}
.documentToggleButton {
  color: white;
}
.buttonGroup {
  display: flex;
  position: absolute;
  right: 0;
}
.documentHover {
  display: flex;
  position: relative;
}

/*에디터 부분 스타일링 해야됨*/
.documentEditDiv {
  display: none;
  width: 600px;
  white-space: wrap;
}
.editorDiv {
  padding-top: 100px;
  padding-left: 100px;
}

.documentCreateButton:hover {
  background-color: rgba(23, 35, 52, 0.757);
}
.documentDeleteButton:hover {
  background-color: rgba(23, 35, 52, 0.757);
}
.rootDocumentCreateDiv:hover {
  cursor: pointer;
  background-color: rgba(203, 220, 230, 0.722);
}

.documentHover:hover {
  cursor: pointer;
  background-color: rgba(203, 220, 230, 0.722);
}
.documentHover:hover > .buttonGroup .documentCreateButton,
.documentHover:hover > .buttonGroup .documentDeleteButton {
  display: block;
}
.documentToggleButton:hover {
  background-color: rgba(23, 35, 52, 0.757);
}
