*,
:after,
:before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
canvas,
img,
picture,
svg,
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
button,
input {
  border: none;
  outline: none;
  background: none;
}
