.sidebar {
    max-width: 480px;
    min-width: 300px;
    border: 1px solid var(--sidebar_bd);
    color: var(--sidebar_c);
    background-color: var(--sidebar_bd);
    resize: horizontal;
    overflow: auto;
}
