{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["airbnb-base", "plugin:prettier/recommended"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"class-methods-use-this": "off",
		"max-len": "off",
		"no-new": "off",
		"no-param-reassign": "off",
		"no-constructor-return": "off",
		"import/no-unresolved": "off",
		"no-restricted-syntax": ["error", "FunctionExpression", "WithStatement"],
		"no-use-before-define": "off",
		"no-shadow": "off",
		"no-cond-assign": "off",
		"no-unused-expressions": "off"
	}
}
