body {
  margin: 0px;
  padding: 0px;
}
ul {
  margin: 0px;
  padding: 0px 8px;
  list-style: none;
}
button {
  border: none;
}
.addDocButton:hover, button:hover {
  border: none;
  background-color: rgb(208, 208, 208);
}
#app {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}
#sidebar {
  flex: none;
  width: 250px;
  background-color: #fbfaf6;
}
#sidebar div {
  padding: 0px 8px;
}
#sidebar .documents-list li {
  padding-top: 5px;
}
#sidebar .endList {
  color: rgb(170, 170, 170)
}
#document-contents {
  flex: 1;
  /* background-color: #fff8b8; */
}
#document-contents .editor-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#document-contents .editor-title {
  display: block;
  margin-top: 100px;
  outline: none;
}
#document-contents .editor-content {
  display: block;
  margin-top: 2px;
  outline: none;
}