button {
    background: none;

    border: 1px solid black;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.sidebar {
    width: 600px;
    height: 2000px;
    background-color: rgb(252, 251, 250);
}

.textEditor {
    width: 500px;
    height: 500px;
}

.container {
    display: flex;
}