/* Fonts - Noto Sans Korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

/* For Document Header Component */
.main-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.logo-title {
  font-size: 30px;
  font-weight: 900;
  color: #333;
}

.sub-header {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #646464;
  font-size: small;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 3px 2px;
}

.group:hover {
  background: rgb(226, 226, 226);
}

.page-add-button:hover {
  background-color: #c7c7c7;
}

.group span {
  padding-right: 5px;
}

.page-add-button {
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
}

/* For Document List Component */
.document-list-container {
  width: 30%;
  min-width: 30%;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  background: rgb(247, 247, 245);
}

.page-add-button {
  border: none;
  cursor: pointer;
}

.document-list {
  padding-right: 10px;
  overflow-y: scroll;
}

.document-list ul {
  /* *에 overflow: hidden 설정하면 보이지 않음 */
  width: 100%;
  margin: 0;
  padding: 0 0 0 20px;
}

.document-list ul li {
  margin: 5px 0;
  box-sizing: border-box;
}

.document-list li {
  list-style: none;
  list-style-type: none;
}

.document-item ul {
  transition: linear;
}

.main-document-item {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 3px 5px;
}

.main-document-item button.fold-button {
  border: none;
  background-color: inherit;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.main-document-item button.fold-button:hover {
  background-color: #c7c7c7;
}

.main-document-item span.title {
  flex: 3;
  cursor: pointer;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0px;
  flex-wrap: nowrap;
  font-weight: 500;
  font-size: small;
  color: #5f5f5f;
}

.main-document-item:hover {
  background-color: rgb(226, 226, 226);
}

.main-document-item:hover .button-group button {
  visibility: visible;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group button {
  background-color: rgb(226, 226, 226);
  padding: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  visibility: hidden;
}

.button-group button:hover {
  background-color: #c7c7c7;
}

/* For Document Footer */
.document-footer {
  margin: auto 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.document-footer button {
  border: none;
  background-color: inherit;
  font-size: 20px;
  color: #6e6e6e;
  cursor: pointer;
  transition: 0.3s;
  background-color: dodgerblue;
}

.document-footer button a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.document-footer button:hover {
  transform: scale(1.2);
}

.document-footer .help-button:hover {
  color: #609ed7;
}

.document-footer .social-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.document-footer .social-group .github-button:hover {
  color: black;
}

.document-footer .social-group .velog-button:hover {
  color: rgb(32, 201, 151);
}

/* For Edit Component */
.editor-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 70px 100px;
}

.edit-title {
  width: 100%;
  outline: none;
  border: none;
  font-size: 40px;
  font-weight: 900;
}

.edit-main {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 40px 0;
}

[contenteditable='true']:empty::before {
  content: attr(placeholder);
  color: #5f5f5f;
}

/* For SubDocument Component */
.sub-document-footer {
  position: fixed;
  bottom: 30px;
  margin-left: 50px;
}

.sub-document-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(40px, auto);
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.sub-document-item {
  width: 150px;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0px;
}

.sub-document-item:hover {
  background-color: #e4e4e4;
}

/* For Splitter Component */
.splitter[data-direction='horizontal'] {
  background-color: #c0c0c0;
  cursor: ew-resize;
  height: 100%;
  width: 1px;
}

/* For Modal Component */
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border: 1px solid black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.modal .modal-title {
  text-align: center;
}
.modal .modal-content {
  padding: 30px;
  flex: 3;
}

.modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: inherit;
  font-size: 20px;
  cursor: pointer;
}

.modal-content {
  text-align: center;
}
.modal-content ul {
  padding: 0;
}
.modal-content ul li {
  margin: 10px 0px;
  list-style: none;
}