.document-navigator {
  max-height: 700px;

  border: solid $background-light-hover;
  border-width: 1px 0;

  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none;
}

.document-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 300px;
}

@for $i from 0 through 10 {
  $paddingLeft: 20px;

  .depth-#{$i} {
    max-width: calc(280px - $paddingLeft * #{$i});
    width: calc(280px - ($paddingLeft * #{$i}));

    @if ($i == 0) {
      padding-left: 0;
    } @else {
      padding-left: $paddingLeft;
    }
  }
}
