@use "@/styles/color";

.s_editorForm {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5rem;
  width: 60rem;
}

.s_editorForm label {
  display: block;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.s_editorForm input {
  width: 60rem;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
}

.s_editorContent {
  display: flex;
  flex-direction: column;
  width: 60rem;
  min-height: 30rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  outline: none;
}

.s_editorContent > div {
  height: 100%;
}

.s_childDocuments {
  margin-top: auto;
}
