.s_editorForm {
  display: flex;
  flex-flow: row wrap;
  margin-top: 5rem;
  width: 60rem;
}

.s_editorForm label {
  display: block;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.s_editorForm input {
  width: 60rem;
  height: 2rem;
}

.s_editorForm textarea {
  display: block;
  width: 60rem;
}
