/* sidebar */
/* 현재 선택 된 li 태그 안의 div */
.sidebar > .document > .document-list > .document-items--root .title-button--current {
    display: flex;
    justify-content: space-between;
    background-color: var(--hover_c);
    color: var(--black);
    font-weight: bold;
    border: 1px solid none;
    border-radius: 3px;
    padding: 5px 5px 5px 0;
}

.sidebar > .document > .document-list > .document-items--root .document-items {
    display: none;
}
.sidebar > .document > .document-list > .document-items--root .view {
    display: block;
}

/* li 태그 안의 div */
.sidebar > .document > .document-list > .document-items--root .title-button {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 0;
}
.sidebar > .document > .document-list > .document-items--root .title-button:hover {
    border: 1px solid none;
    border-radius: 3px;
    background-color: var(--hover_c);
}

/* 모든 +, X 버튼들 */
.sidebar > .document > .document-list > .document-items--root .insert-delete {
    display: flex;
    align-items: center;
    visibility: hidden;
}
/* div hover시 +, X 버튼들 */
.sidebar > .document > .document-list > .document-items--root .title-button:hover .insert-delete {
    visibility: visible;
}
/* 현재 선택 됀 div hover시 +, X 버튼들 */
.sidebar > .document > .document-list > .document-items--root .title-button--current:hover .insert-delete {
    visibility: visible;
}

/* title과 > 버튼  */
.sidebar > .document > .document-list > .document-items--root .title-toggle {
    display: flex;
    align-items: center;
    flex: 1 1 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar > .document > .document-list > .document-items--root button.title-toggle__toggle--hidden {
    transition: transform 0.5s;
}

.sidebar > .document > .document-list > .document-items--root button.title-toggle__toggle--view {
    transition: transform 0.5s;
    transform: rotate(90deg);
}

/* 모든 title  */
.sidebar > .document > .document-list > .document-items--root .title-toggle__title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 모든 버튼 태그 */
.sidebar > .document > .document-list > .document-items--root button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: var(--sidebar_c);
    cursor: pointer;
}

/* child Viewer */
.document-manager > .document-child-list > .document-items--root .title-button {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 0;
}
.document-manager > .document-child-list > .document-items--root .title-button:hover {
    border: 1px solid none;
    border-radius: 3px;
    background-color: var(--hover_c);
}

/* 모든 +, X 버튼들 */
.document-manager > .document-child-list > .document-items--root .insert-delete {
    display: flex;
    align-items: center;
    display: none;
}

/* title과 > 버튼  */
.document-manager > .document-child-list > .document-items--root .title-toggle {
    width: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 모든 title  */
.document-manager > .document-child-list > .document-items--root .title-toggle__title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 모든 toggle 버튼 */
.document-manager > .document-child-list > .document-items--root .title-toggle__toggle--view {
    visibility: hidden;
}
.document-manager > .document-child-list > .document-items--root .title-toggle__toggle--hidden {
    visibility: hidden;
}
/* 모든 버튼 태그 */
.document-manager > .document-child-list > .document-items--root button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: var(--sidebar_c);
    cursor: pointer;
}
