$primary: rgb(255, 255, 255);
$secondary: rgb(245, 245, 242);
$onSecondary: rgb(233, 231, 227);
$onPrimary: #a9a9a9;
$onBackground: #1d1d1d;
$onBackground1: rgb(226, 226, 224);
$onBackground2: #868686;
$onBackground3: #555;
$onBackground4: #333;
$surface: #eee;
