html {
  position: relative;
  font-size: var(--default-font-size);
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  padding-inline: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
