:root {
  --default-font-size: 14px;
  --small-font-size: 0.75rem;
  --default-font-color: rgb(55, 53, 47);
  --bold-font-color: #37352f;
  --default-hover-bg-color: #f1f1f0;
  --default-hover-border-radius: 0.3rem;
  --default-font-weight: 500;
  --bold-font-weight: 600;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  overflow-y: auto;
  position: fixed;
  width: 20%;
  height: calc(100% - -0.0625rem);
  background-color: #fbfbfa;
}

.sidebar-header {
  color: var(--default-font-color);
  font-weight: var(--default-font-weight);
  padding: 0.8rem;
}

.document-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.875rem 0rem 0.625rem;
  margin-top: 1.875rem;
  margin-bottom: 0.3125rem;
}

.header.add-button {
  font-size: var(--small-font-size);
  padding: 0.0625rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar:hover .header.add-button {
  opacity: 1;
}

.header-subtitle {
  font-size: var(--small-font-size);
  font-weight: 600;
  color: rgba(55, 53, 47, 0.5);
}

/* documentlist styles */

.document-list-container {
  padding: 0 0.25rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-wrap: nowrap;
  overflow-x: hidden;
  padding: 0.3rem 0;
  padding-right: 0.3rem;
  cursor: pointer;
  color: var(--default-font-color);
}

.list-item:not(.no-subdocuments):hover,
.command:hover {
  background-color: var(--default-hover-bg-color);
  border-radius: var(--default-hover-border-radius);
}

.list-item.selected {
  background-color: var(--default-hover-bg-color);
  border-radius: var(--default-hover-border-radius);
}

.list-item.selected span {
  color: var(--bold-font-color);
  font-weight: var(--default-font-weight);
}

.toggle-icon {
  color: #b3b2b0;
  font-size: 0.8rem;
}

.list-item-title,
.no-subdocuments {
  color: rgba(115, 114, 110, 0.8);
  font-weight: var(--default-font-weight);
}

.list-item:hover .list-item-buttons {
  display: block;
}

.list-item-buttons {
  display: none;
}

.add-button,
.delete-button {
  color: #444444c6;
  padding: 0.125rem 0.25rem;
}

.toggle-button {
  padding: 0.125rem 0.375rem;
}

.toggle-button:hover,
.add-button:hover,
.delete-button:hover {
  background-color: #e3e2e2;
  border-radius: var(--default-hover-border-radius);
}

.document-edit-page {
  position: absolute;
  right: 0;
  width: calc(100% - 20%);
  height: 100%;
}

.document-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  cursor: pointer;
  color: var(--default-font-color);
}

.document-edit-page-body {
  overflow-y: auto;
  margin-top: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* editor styles */
.editor {
  width: 44.25rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  border: none;
  padding: 0.125rem 0;
  margin-bottom: 0;
}

.title:focus {
  outline: none;
}

[contenteditable="true"]:empty:after {
  content: attr(placeholder);
}

.title[contenteditable="true"]:empty:after {
  color: #e4e4e3;
}

.content::-webkit-scrollbar {
  display: none;
}

.content {
  position: relative;
  min-height: 37.5rem;
  font-size: 1rem;
  padding-top: 0.3125rem;
  border: none;
  caret-color: var(--default-font-color);
}

.content:focus {
  outline: none;
}

.content[contenteditable="true"]:empty:after {
  color: rgba(55, 53, 47, 0.65);
}

/* modal styles */

#item.command {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125rem;
  padding: 0.3125rem 0.9375rem;
  cursor: pointer;
}

.command p {
  margin: 0;
  font-size: var(--default-font-size);
  color: var(--default-font-color);
}

#link.wrapper {
  display: flex;
  column-gap: 0.625rem;
  padding: 0.3125rem 0.9375rem;
  cursor: pointer;
}

#link.wrapper:hover {
  background-color: var(--default-hover-bg-color);
  border-radius: var(--default-hover-border-radius);
}

#link i {
  color: #b3b2b0;
}

.link-title {
  font-size: var(--default-font-size);
  color: var(--bold-font-color);
}

.document-link {
  display: block;
  cursor: pointer;
}
