.dummy_emoji {
    width: 18px;
    height: 18px;
    background: 
        url("https://www.notion.so/images/emoji/twitter-emoji-spritesheet-64.d3a69865.png") 
        49.1525% 18.6441% / 6000% 6000%
};