.pageViewer_editor_content > div {
  border: 1px red solid;
  display: flex;
  align-items: center;
  height: max-content;
  margin: 0.4rem 0.2rem;
  font-size: 1.6rem;
  outline: none;
  vertical-align: baseline;
}

.pageViewer_editor_content > .h1 {
  font-size: 3.2rem;
  font-weight: 600;
  height: max-content;
  margin-top: 1.8rem;
  margin-bottom: 0.4rem;
}

.pageViewer_editor_content > .h2 {
  font-size: 2.4rem;
  font-weight: 600;
  height: max-content;
  margin-top: 1.4rem;
  margin-bottom: 0.4rem;
}

.pageViewer_editor_content > .h3 {
  font-size: 2rem;
  font-weight: 600;
  height: max-content;
  margin-top: 1.4rem;
  margin-bottom: 0.4rem;
}

.pageViewer_editor_content > .divisionLine {
  margin: 1.6rem 0;
  border: 0.3rem solid var(--color-grey);
  border-radius: 0.4rem;
}

.pageViewer_editor_content > .callBox {
  height: max-content;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-semi-white);
  border-radius: 0.8rem;
}
.callBox_emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  margin: 1.6rem 1.6rem 1.6rem 0px;
  font-size: 2.4rem;
}
.callBox_textBox {
  font-size: 1.6rem;
  width: 80%;
  margin: 1.6rem 0;
  height: max-content;
  outline: none;
  font-weight: 500;
  white-space: pre-line;
}
