.pageViewer_editor_title {
  width: 100%;
  height: 120px;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 900;

  overflow: scroll;
}

.pageViewer_editor_info {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-top: 2px solid var(--color-dark-grey);
  border-bottom: 2px solid var(--color-dark-grey);
  cursor: default;
}

.pageViewer_editor_info_createdAt,
.pageViewer_editor_info_updatedAt {
  font-weight: 600;
  color: var(--color-font);
}

.pageViewer_editor_info_updatedAt {
  margin-top: 8px;
}

.pageViewer_editor_content {
  margin: 12px 0;
  outline: none;

  height: 100%;
}

.pageViewer_editor_content > div {
  border: 1px red solid;

  margin-bottom: 8px;
}

.pageViewer_editor_content > .h1 {
  border: 1px blue solid;

  font-size: 40px;
}
