.s_documentItem {
  cursor: pointer;
  height: auto;
}

.s_childrenDocumentList {
  margin-left: 0.5rem;
}

.s_document_title {
  display: inline-block;
  max-width: calc(90% - 2rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
