.s_documentItem {
  cursor: pointer;
  height: 2rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.s_childrenDocumentList {
  margin-left: 0.5rem;
}

.s_childrenDocumentList li {
  height: 2rem;
  line-height: 2rem;
}
