@use "@/styles/color";

.s_documentItem {
  cursor: pointer;
  height: auto;
  width: 15rem;
  margin: 0.7rem 0;
}

.s_contentContainer {
  display: flex;
  align-items: center;
}

.s_titleContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;

  &:hover .s_buttonContainer {
    display: flex;
  }
}

.s_documentItem img {
  height: 1rem;
}

.s_childrenDocumentList {
  margin-left: 0.5rem;
  width: 100%;
  display: none;
}

.s_document_title {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  width: auto;
  min-width: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.s_buttonContainer {
  display: none;
  flex-shrink: 0;
}

.s_index {
  color: color.$onPrimary;
  margin-right: 0.3rem;
}

:global(.rotated) {
  transform: rotate(90deg);
}
