@import url(./reset.css);
@import url(/src/Component/Sidebar/sidebar.css);
@import url(/src/Component/Sidebar/Document/document.css);
@import url(/src/Component/Sidebar/Document/DocumentForm/documentForm.css);
@import url(/src/Component/Sidebar/Document/DocumentList/documentList.css);
@import url(/src/Component/Sidebar/Document/DocumentList/DocumentItems/documentItems.css);
@import url(/src/Component/Sidebar/Document/DocumentList/DocumentItems/DocumentItem/documentitem.css);
@import url(/src/Component/DocumentManager/DocumentEditor/documentEditor.css);
@import url(/src/Component/DocumentManager/DocumentContentViewr/documentContentViewer.css);

:root {
    --main: #ff6701;
    --black: #000000;
    --gray: #ebebeb;
}

#app {
    height: 100vh;
}

.wrap {
    height: 100vh;
    display: flex;
}

.document-items {
    padding-left: 40px;
}
