.document__item {
}

.document__item > .title-and-buttons {
    display: flex;
    align-items: center;
    padding: 0.8em;
}
.document__item > .title-and-buttons:hover {
    background-color: var(--gray);
}

.document__item > .title-and-buttons > .title-and-buttons__title--current {
    color: var(--main);
}
