@use "@/styles/color";

.s_sidebar {
  width: 20rem;
  min-height: 100vh;
  max-height: 100vh;
  border: 0.01rem solid color.$onSecondary;
  background-color: color.$secondary;
  padding: 2rem 1.5rem 0;
  overflow-x: scroll;
}

.s_button {
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
}

.s_button:hover {
  border: 0.01rem solid;
  border-radius: 50%;
}
