#app {
  width: 100%;
  display: flex;
  flex-direction: row;
}

aside {
  width: 20%;
  height: 100vh;
  background-color: #fbfbfa;
  padding: 1rem;
}

ul {
  padding-left: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.list-item-buttons {
  display: flex;
  align-items: center;
}

.add-button {
  font-size: 1.5rem;
}

.add-button,
.delete-button {
  color: #b3b2b0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

form {
  width: 900px;
  padding-top: calc(96px + env(safe-area-inset-top));
  padding-left: calc(96px + env(safe-area-inset-left));
}

.title {
  font-size: 3rem;
  font-weight: inherit;
  border: none;
  padding: 2px 3px;
}

.title::placeholder {
  color: #e4e4e3;
}

.content {
  font-size: 1.5rem;
  padding-top: 5px;
  border: none;
}
