.name-and-form {
    display: flex;
    justify-content: space-between;
}

.name-and-form > .name-and-form__name {
    font-size: 2rem;
    color: var(--main);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-and-form > .user-form {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid var(--gray);
    border-radius: 5px;
    display: flex;
}

.name-and-form > .user-form > .user-form__input {
    border: none;
    border-radius: 5px;
    outline: none;
}
.name-and-form > .user-form > .user-form__input:focus {
    background-color: var(--gray);
}

.name-and-form > .user-form > .user-form__button {
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
